.pokemon_details_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pokemon_detail_name{
    font-size: xx-large;
    letter-spacing: 1rem;
}
.pokemon_attr{
    display: flex;
    font-size: x-large;
    gap: 2rem;   
}
.type{
    font-size: x-large;
    border: 1px solid gray;
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: azure;
    margin-left: 1rem;
}
.pokemon_types > h1{
    display: inline;
}

.similar_pokemons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.similar_pokemons h2{
    font-size: 2.5rem;
    font-weight: 700;
}
.pokemon_similar_boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

