.pokemon{
    /* flex-basis: 30%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    margin: 4rem 1rem 1rem 1rem;
    width: 22rem;
    background-color: bisque;
}
.pokemon:hover{
    background-color: burlywood;
}
.pokemon_image{
    height: 200px;
}
.pokemon_name{
    letter-spacing: 5px;
    font-size: larger;
    margin-top: 1rem;
    font-weight: bold;
}

